body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

body, html, #root {
  height: 100%;
}

.wrapper-auth::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background: url('assets/back.png') no-repeat center center;
  background-size: cover;
  filter: opacity(40%) blur(5px);
}

.react-date-picker__wrapper {
  border: none!important;
}

.border-radius {
  border-radius: 1.5rem;
}

.list-group {
  max-height: 18rem;
}
